<form [formGroup]="runnerForm" novalidate class="form-horizontal" (ngSubmit)="submit()">
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Basic Information</h2>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="profilePhoto">Profile Photo</label>
      <input type="file" [(ngModel)]="runner.profilePhoto" id="profilePhoto" (change)="onFileChange($event)" #fileInput class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="runner.firstName" formControlName="firstName" class="form-control">
      <div *ngIf="runnerForm.get('firstName').errors && runnerForm.get('firstName').dirty">
        <span style="color:red" *ngIf="runnerForm.get('firstName').hasError('required')">First Name is required</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="middleName">Middle Name</label>
      <input type="text" [(ngModel)]="runner.middleName" formControlName="middleName" class="form-control">
      <div *ngIf="runnerForm.get('middleName').errors && runnerForm.get('middleName').dirty">
        <span style="color:red" *ngIf="runnerForm.get('middleName').hasError('required')">Middle Name is required</span>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="runner.lastName" formControlName="lastName" class="form-control">
      <div *ngIf="runnerForm.get('lastName').errors && runnerForm.get('lastName').dirty">
        <span style="color:red" *ngIf="runnerForm.get('lastName').hasError('required')">Last Name is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="birthDate">Birth Date</label>
      <input type="date" [(ngModel)]="runner.birthDate" formControlName="birthDate" class="form-control">
      <div *ngIf="runnerForm.get('birthDate').errors && runnerForm.get('birthDate').dirty">
        <span style="color:red" *ngIf="runnerForm.get('birthDate').hasError('required')">Birth Date is required</span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="gender">Gender</label>
      <select [(ngModel)]="runner.gender" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Female">Female</option>
        <option value="Male">Male</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="runner.email" formControlName="email" class="form-control">
      <div *ngIf="runnerForm.get('email').errors && runnerForm.get('email').dirty">
        <span style="color:red" *ngIf="runnerForm.get('email').hasError('required')">Email is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="maritalStatus">Maritual Status</label>
      <select [(ngModel)]="runner.maritalStatus" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Married">Married</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="citizenship">Citizenship</label>
      <select [(ngModel)]="runner.citizenship" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
  </div>
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Security</h2>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="newPassword">Password</label>
      <input type="password" [(ngModel)]="runner.newPassword" formControlName="newPassword" class="form-control">
      <div *ngIf="runnerForm.get('newPassword').errors && runnerForm.get('newPassword').dirty">
        <span style="color:red" *ngIf="runnerForm.get('newPassword').hasError('required')">Password is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="rePassword">Re-enter Password</label>
      <input type="password" formControlName="rePassword" class="form-control">
      <div *ngIf="runnerForm.get('rePassword').errors && runnerForm.get('rePassword').dirty">
        <span style="color:red" *ngIf="runnerForm.get('rePassword').hasError('required')">Re-enter password is required</span>
      </div>
    </div>
  </div>
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Contact Information</h2>
  </div>
  <div class="my-4">
    <h4>Profile Address</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="countryProfileAddress">Country</label>
      <select [(ngModel)]="runner.countryProfileAddress" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="stateProfileAddress">State/Province</label>
      <input type="text" formControlName="stateProfileAddress" class="form-control">
      <div *ngIf="runnerForm.get('stateProfileAddress').errors && runnerForm.get('stateProfileAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('stateProfileAddress').hasError('required')">State is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cityProfileAddress">City</label>
      <input type="text" formControlName="cityProfileAddress" class="form-control">
      <div *ngIf="runnerForm.get('cityProfileAddress').errors && runnerForm.get('cityProfileAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('cityProfileAddress').hasError('required')">City is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="postalCodeProfileAddress">Postal Code</label>
      <input type="text" formControlName="postalCodeProfileAddress" class="form-control">
      <div *ngIf="runnerForm.get('postalCodeProfileAddress').errors && runnerForm.get('postalCodeProfileAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('postalCodeProfileAddress').hasError('required')">Postal Code is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="address1ProfileAddress">Address Line 1</label>
      <input type="text" formControlName="address1ProfileAddress" class="form-control">
      <div *ngIf="runnerForm.get('address1ProfileAddress').errors && runnerForm.get('address1ProfileAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('address1ProfileAddress').hasError('required')">Address Line 1 is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="address2ProfileAddress">Address Line 2</label>
      <input type="text" formControlName="address2ProfileAddress" class="form-control">
      <div *ngIf="runnerForm.get('address2ProfileAddress').errors && runnerForm.get('address2ProfileAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('address2ProfileAddress').hasError('required')">Address Line 2 is required</span>
      </div>
    </div>
  </div>
  <div class="my-4">
    <h4>Mailing Address</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="countryMailingAddress">Country</label>
      <select [(ngModel)]="runner.countryMailingAddress" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="stateMailingAddress">State/Province</label>
      <input type="text" formControlName="stateMailingAddress" class="form-control">
      <div *ngIf="runnerForm.get('stateMailingAddress').errors && runnerForm.get('stateMailingAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('stateMailingAddress').hasError('required')">State is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="cityMailingAddress">City</label>
      <input type="text" formControlName="cityMailingAddress" class="form-control">
      <div *ngIf="runnerForm.get('cityMailingAddress').errors && runnerForm.get('cityMailingAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('cityMailingAddress').hasError('required')">City is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="postalCodeMailingAddress">Postal Code</label>
      <input type="text" formControlName="postalCodeMailingAddress" class="form-control">
      <div *ngIf="runnerForm.get('postalCodeMailingAddress').errors && runnerForm.get('postalCodeMailingAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('postalCodeMailingAddress').hasError('required')">Postal Code is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="address1MailingAddress">Address Line 1</label>
      <input type="text" formControlName="address1MailingAddress" class="form-control">
      <div *ngIf="runnerForm.get('address1MailingAddress').errors && runnerForm.get('address1MailingAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('address1MailingAddress').hasError('required')">Address Line 1 is required</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="address2MailingAddress">Address Line 2</label>
      <input type="text" formControlName="address2MailingAddress" class="form-control">
      <div *ngIf="runnerForm.get('address2MailingAddress').errors && runnerForm.get('address2MailingAddress').dirty">
        <span style="color:red" *ngIf="runnerForm.get('address2MailingAddress').hasError('required')">Address Line 2 is required</span>
      </div>
    </div>
  </div>
  <div class="my-4">
    <h4>Primary Phone</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="typePrimaryPhone">Type</label>
      <select [(ngModel)]="runner.typePrimaryPhone" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Cell">Cell</option>
        <option value="Home">Home</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="countryPrimaryPhone">Country</label>
      <select [(ngModel)]="runner.countryPrimaryPhone" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="numberPrimaryPhone">Number</label>
      <input type="text" formControlName="numberPrimaryPhone" class="form-control">
      <div *ngIf="runnerForm.get('numberPrimaryPhone').errors && runnerForm.get('numberPrimaryPhone').dirty">
        <span style="color:red" *ngIf="runnerForm.get('numberPrimaryPhone').hasError('required')">Number is required</span>
      </div>
    </div>
  </div>
  <div class="my-4">
    <h4>Second Phone</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="typeSecondPhone">Type</label>
      <select [(ngModel)]="runner.typeSecondPhone" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Cell">Cell</option>
        <option value="Home">Home</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="countrySecondPhone">Country</label>
      <select [(ngModel)]="runner.countrySecondPhone" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="numberSecondPhone">Number</label>
      <input type="text" formControlName="numberSecondPhone" class="form-control">
      <div *ngIf="runnerForm.get('numberSecondPhone').errors && runnerForm.get('numberSecondPhone').dirty">
        <span style="color:red" *ngIf="runnerForm.get('numberSecondPhone').hasError('required')">Number is required</span>
      </div>
    </div>
  </div>
  <div class="my-4">
    <h4>Emergency Contact</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nameEmergencyContact">Name</label>
      <input type="text" formControlName="nameEmergencyContact" class="form-control">
      <div *ngIf="runnerForm.get('nameEmergencyContact').errors && runnerForm.get('nameEmergencyContact').dirty">
        <span style="color:red" *ngIf="runnerForm.get('nameEmergencyContact').hasError('required')">Name is required</span>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="preferredLanguageEmergencyContact">Preferred Language of Emergency Contact</label>
      <select [(ngModel)]="runner.preferredLanguageEmergencyContact" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="English">English</option>
      </select>
    </div>
  </div>
  <div>
    <label><b>Phone</b></label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="typePhoneEmergencyContact">Type</label>
      <select [(ngModel)]="runner.typePhoneEmergencyContact" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Cell">Cell</option>
        <option value="Home">Home</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="countryPhoneEmergencyContact">Country</label>
      <select [(ngModel)]="runner.countryPhoneEmergencyContact" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Costa Rica">Costa Rica</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="numberPhoneEmergencyContact">Number</label>
      <input type="text" formControlName="numberPhoneEmergencyContact" class="form-control">
      <div *ngIf="runnerForm.get('numberPhoneEmergencyContact').errors && runnerForm.get('numberPhoneEmergencyContact').dirty">
        <span style="color:red" *ngIf="runnerForm.get('numberPhoneEmergencyContact').hasError('required')">Number is required</span>
      </div>
    </div>
  </div>
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Runner Profile</h2>
  </div>
  <div>
    <label><b>Running Ability</b></label>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="runner.runningAbility" [ngModelOptions]="{standalone: true}" type="radio" name="runningAbility" id="inlineRadio1" value="Beginner"> Beginner
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="runner.runningAbility" [ngModelOptions]="{standalone: true}" type="radio" name="runningAbility" id="inlineRadio2" value="Fitness"> Fitness
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" [(ngModel)]="runner.runningAbility" [ngModelOptions]="{standalone: true}" type="radio" name="runningAbility" id="inlineRadio3" value="Competitive"> Competitive
        </label>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="clubAffiliation">Club Affiliation</label>
      <select [(ngModel)]="runner.clubAffiliation" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="0">Select Club Name</option>
      </select>
    </div>
  </div>
  <div class="my-4">
    <h4>Apparel</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="unisexCottonTShirtSize">Unisex Cotton T Shirt Size</label>
      <select [(ngModel)]="runner.unisexCottonTShirtSize" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Medium">Medium</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="unisexTechShirtSize">Unisex Tech Shirt Size</label>
      <select [(ngModel)]="runner.unisexTechShirtSize" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Medium">Medium</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fittedCottonTShirtSize">Fitted Cotton T Shirt Size</label>
      <select [(ngModel)]="runner.fittedCottonTShirtSize" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Medium">Medium</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="fittedTechShirtSize">Fitted Tech Shirt Size</label>
      <select [(ngModel)]="runner.fittedTechShirtSize" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Medium">Medium</option>
      </select>
    </div>
  </div>
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Additional Information (Optional)</h2>
  </div>
  <div class="my-4">
    <h4>Demographic Information</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="ethnicity">Ethnicity</label>
      <select [(ngModel)]="runner.ethnicity" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Hispanic or Latino">Hispanic or Latino</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="educationalLevel">Education Level</label>
      <select [(ngModel)]="runner.educationalLevel" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="Post Graduate">Post Graduate</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="annualHouseholdIncome">Annual Household Income</label>
      <select [(ngModel)]="runner.annualHouseholdIncome" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="$75,000 to $99,999">$75,000 to $99,999</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="industry">Industry</label>
      <select [(ngModel)]="runner.industry" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="">Select Industry</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="occupation">Occupation</label>
      <select [(ngModel)]="runner.occupation" class="form-control" [ngModelOptions]="{standalone: true}">
        <option value="CEO">CEO</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="companyName">Company Name</label>
      <input type="text" formControlName="companyName" class="form-control">
      <div *ngIf="runnerForm.get('companyName').errors && runnerForm.get('companyName').dirty">
        <span style="color:red" *ngIf="runnerForm.get('companyName').hasError('required')">Company Name is required</span>
      </div>
    </div>
  </div>
  <div class="my-4" style="border-bottom: 2px solid;">
    <h2>Family Members</h2>
  </div>
  <div class="my-4">
    <h4>Add Member</h4>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstNameFamilyMember">First Name</label>
      <input type="text" [(ngModel)]="familyMember.firstName" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-6">
      <label for="lastNameFamilyMember">Last Name</label>
      <input type="text" [(ngModel)]="familyMember.lastName" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="emailFamilyMember">Email</label>
      <input type="text" [(ngModel)]="familyMember.email" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group col-md-6">
      <label for="relationshipFamilyMember">Relationship</label>
      <input type="text" [(ngModel)]="familyMember.relationship" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="form-group text-right">
    <button type="button" (click)="addFamilyMember()" class="btn btn-primary">Add Family Member</button>
  </div>
  <div class="my-4">
    <h4>Members</h4>
  </div>
  <div class="form-row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Relationship</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let member of runner.familyMembers">
          <td>{{member.firstName}}</td>
          <td>{{member.lastName}}</td>
          <td>{{member.email}}</td>
          <td>{{member.relationship}}</td>
        </tr> 
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="runnerForm.invalid" class="btn btn-primary">Save Changes</button>
  </div>
</form>