<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
          My NYRR
      </a>
    </li>
    <li>
      <a href="#">Account Settings</a>
    </li>
    <li>
      <a href="#">My Kids</a>
    </li>
    <li>
      <a href="#">Races and Registration</a>
    </li>
    <li>
      <a href="#">Results</a>
    </li>
    <li>
      <a href="#">Become a Member</a>
    </li>
    <li>
      <a href="#">Classes</a>
    </li>
    <li>
      <a href="#">Volunteer</a>
    </li>
    <li>
      <a href="#">Help</a>
    </li>
  </ul>
</div>